var Footer
        = React.createClass({


    render: function(){

        return(


                <div className="row footer">

                    <div className="col-md-12 ">
                        <div className="foot_nav text-center">
                            <ul className="">
                                <li><a href="#"  data-hover="Portfolio">Portfolio</a></li>
                                <li><a href="#"  data-hover="Projects">Projects</a></li>
                                <li><a href="#"  data-hover="Blog">Blog</a></li>
                                <li><a href="#"  data-hover="Events">Events</a></li>
                                <li><a href="#"  data-hover="Contact">Contact</a></li>
                                <li><a href="#"  data-hover="Event">Event</a></li>
                            </ul>
                        </div>

                        <div className="col-md-6 col-md-offset-3 text-center sub_input wow zoomIn" data-wow-delay="0.5s">

                            <span className="input input--kuro">
                                <input className="input__field input__field--kuro" type="text" id="input-7" />
                                <label className="input__label input__label--kuro" for="input-7">
                                    <span className="input__label-content input__label-content--kuro">Username</span>
                                </label>
                            </span>

                        </div>



                    </div>

                    <div className="social_box col-md-8 col-md-offset-2 text-center">

                        <a className="indi_social"><i className="fa fa-twitter"></i></a>
                        <a className="indi_social"><i className="fa fa-facebook"></i></a>
                        <a className="indi_social"><i className="fa fa-instagram"></i></a>
                        <a className="indi_social"><i className="fa fa-youtube"></i></a>
                        <a className="indi_social"><i className="fa fa-twitter"></i></a>
                        <a className="indi_social"><i className="fa fa-instagram"></i></a>
                        <a className="indi_social"><i className="fa fa-youtube"></i></a>
                        <a className="indi_social"><i className="fa fa-twitter"></i></a>


                    </div>



                    <div className="copyrights col-md-12 text-muted">
                        All rights reserved by Majed Photos
                    </div>

                </div>

        );
    }

});