var IndiProject = React.createClass({

    componentDidMount: function() {
        new WOW().init();
    },

    render: function(){

        return(
                <div className="row indi_projects">

                    <OverlayMenu />

                    <h1 className="text-center">Kenya Life</h1>


                    <div className="project_desc col-md-12 wow zoomInDown" data-wow-delay="0.05s">
                        <div className="wrapper">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                        </div>
                    </div>


                    <div className="project_main col-md-12">

                        <div className="col-md-12 indi_item">
                            <img src="<%= asset_path('l5.jpg')%>" />
                        </div>

                        <div className="col-md-12 indi_item">
                            <img src="<%= asset_path('l4.jpg')%>" />
                        </div>

                        <div className="col-md-12 indi_item">
                            <img src="<%= asset_path('l3.jpg')%>" />
                        </div>


                    </div>

                </div>
        );
    }


});
