var IntroBox
 = React.createClass({


	render: function(){

		return(


					<div className="row intro_box"   data-vide-bg="<%= asset_path '/video/ocean'%>">


						<OverlayMenu />

						<IntroText  />



					</div>



			);
	}




});