// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_header{



  background: image_url('l7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 678px;


  h1{



    padding-top: 18%;
    padding-bottom: 21%;
    color:#FFF;
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 9px;
  }
  .blog_main {
    background-color: #2E2F30;
    min-height: 800px;
    color: #FFF;
    padding: 0px;
    .indi_item {
      padding: 0px;
      margin-top: 0px;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        height: 428px;

      }
      .overlay {
        position: relative;
        z-index: 1;
        background-color: rgba(0,0,0,0.0);
        height: 428px;
        text-align: center;
        vertical-align: middle;
        line-height: 428px;


        opacity: 1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        .caption {
          font-family: Helvetica;
          font-weight: 700;
          color: rgba(255, 255, 255, .85);
          font-size: 66px;line-height: 48px;

         span{
           line-height: 48px;
         }
        }
      }

    }




  }
}

.indi_event{


  background: image_url('l8.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 678px;

  h1{
    padding-top: 18%;
    padding-bottom: 21%;
    color:#FFF;
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 9px;
  }

  .blog_meta{

    color: #FFF;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 5px;
    background-color: #009688;
    padding: 0px;
    z-index: 99;
    transition: all 0.9s ease;
    text-align: center;
    vertical-align: middle;


    .wrapper{
      padding: 20px;
      margin-top:2%;
      margin-bottom:2.4%;
      text-align: left;
      vertical-align: middle;
      line-height: 25px;

      .text{
        margin-bottom:4%;
      }
      .butt{
        margin-top:10%;
      }
    }


  }

  .event_description{
    min-height: 678px;
    background-color: darken(#009688,6%);

    .wrapper{
      color:#FFF;
      padding-bottom:8% ;
      .attendices{margin-top: 7%; font-size:5em;}
      .date{margin-top: 5%; font-size:9em;font-weight: 700}
      .venue{margin-top: 7%; font-size:4.5em;}
    }
  }


  .project_main {
    background-color: #282828;
    min-height: 800px;
    color: #FFF;
    padding: 0px;
    .indi_item {
      padding: 0px;
      margin-top: 0px;

      img {
        width: 100%;

        height:auto;

      }

    }
  }
}

