// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project_header{



  background: image_url('l4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 678px;

  h1{
    padding-top: 18%;
    padding-bottom: 21%;
    color:#FFF;
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 9px;
  }
.project_main {
  background-color: #2E2F30;
  min-height: 800px;
  color: #FFF;
  padding: 0px;
  .indi_item {
    padding: 0px;
    margin-top: 0px;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      height: 428px;

    }
    .overlay {
      position: relative;
      z-index: 99;

      height: 428px;
      text-align: center;
      vertical-align: middle;
      line-height: 428px;

      opacity: 1;
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
      .caption {
        font-family: Helvetica;
        font-weight: 700;
        color: rgba(255, 255, 255, .85);
        font-size: 66px;
      }
    }

  }




  }
}
  .indi_projects{


    background: image_url('l1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 678px;

    h1{
      padding-top: 18%;
      padding-bottom: 21%;
      color:#FFF;
      font-size: 10em;
      font-weight: 900;
      letter-spacing: 9px;
    }


    .project_main {
      background-color: #282828;
      min-height: 800px;
      color: #FFF;
      padding: 0px;
      .indi_item {
        padding: 0px;
        margin-top: 0px;

        img {
          width: 100%;

          height:auto;

        }

      }
    }
  }
