// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video_header{



  background: image_url('l9.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 678px;

  h1{
    padding-top: 18%;
    padding-bottom: 21%;
    color:#FFF;
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 9px;
  }
  .blog_main {
    background-color: #2E2F30;
    min-height: 800px;
    color: #FFF;
    padding: 0px;
    .indi_item {
      padding: 0px;
      margin-top: 0px;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        height: 428px;

      }
      .overlay {
        position: relative;
        z-index: 99;

        height: 428px;
        text-align: center;
        vertical-align: middle;
        line-height: 428px;

        opacity: 1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        .caption {
          font-family: Helvetica;
          font-weight: 700;
          color: rgba(255, 255, 255, .85);
          font-size: 66px;
        }
      }

    }




  }
}


.indi_video{


  background: image_url('l7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 678px;

  h1{
    padding-top: 18%;
    padding-bottom: 21%;
    color:#FFF;
    font-size: 12em;
    font-weight: 100;
    letter-spacing: 9px;
  }


  .blog_meta{

    color: #FFF;
    font-size: 1.5em;
    letter-spacing: 2.5px;
    padding: 5px;
    background-color: #FFF;
    padding: 0px;
    z-index: 99;
    transition: all 0.9s ease;
    text-align: center;
    vertical-align: middle;
    color:#282828;


    .wrapper{
      padding: 25px;
      margin-top:5%;
      margin-bottom:5%;
      text-align: left;
      vertical-align: middle;
      line-height: 35px;

      .text{
        margin-bottom:4%;
      }
      .butt{
        margin-top:1.5%;
        letter-spacing: 1px;
        font-size: 16.5px;
      }
    }


  }

  .project_main {
    background-color: #282828;
    min-height: 800px;
    color: #FFF;
    padding: 0px;
    .indi_item {
      padding: 0px;
      margin-top: 0px;

      img {
        width: 100%;

        height:auto;

      }

    }
  }

  .blog_publish{
    background-color: darken(#FFF,50%);
  }

  .comments_box{

    margin-top: 0px;
    padding: 0px;


    .view_comments {


      padding: 5px;
      background-color:darken(#009688,6%);
      padding: 0px;
      z-index: 99;
      transition: all 0.9s ease;
      text-align: center;
      vertical-align: middle;
      height: 150px;

      .text{

      }

      a {

        font-size: 1em;
        color: #fff;
        text-decoration: none;

        width: 100%;

        /* Effect 15: scale down, reveal */

        color: rgba(255, 255, 255, 0.9);
        font-weight: 700;
        text-shadow: none;

        &::before {
          color: #fff;
          content: attr(data-hover);
          position: absolute;
          transition: transform 0.3s, opacity 0.3s;
        }

        &:hover::before,
        &:focus::before {
          transform: scale(0.9);
          opacity: 0;
        }
      }
    }


    #big{ font-size: 8em; font-weight: 100; bottom:13px; position: relative;  }
    .full_comments{
      padding: 0;
      color:#282828;
      background-color: darken(#009688,10%);

      .single_comment{
        padding: 50px;
        background-color: darken(#009688,10%);
        border-bottom: solid;
        border-width: 1px;
        .user_img{  padding: 0;img{width: 100px;height: 95px;border-radius: 50%;}}
        .user_comment{padding:10px; color:#CCC; h3{font-weight: 500; font-size: 1.5em;top:55px}p{font-size: 1.2em;}}

      }
    }
  }













}
