// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video_header{



  background: image_url('l9.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 678px;

  h1{
    padding-top: 18%;
    padding-bottom: 21%;
    color:#FFF;
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 9px;
  }
  .blog_main {
    background-color: #2E2F30;
    min-height: 800px;
    color: #FFF;
    padding: 0px;
    .indi_item {
      padding: 0px;
      margin-top: 0px;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        height: 428px;

      }
      .overlay {
        position: relative;
        z-index: 99;

        height: 428px;
        text-align: center;
        vertical-align: middle;
        line-height: 428px;

        opacity: 1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        .caption {
          font-family: Helvetica;
          font-weight: 700;
          color: rgba(255, 255, 255, .85);
          font-size: 66px;
        }
      }

    }




  }
}


.indi_video {

  background: image_url('l7.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100;
  min-height: 678px;

  h1 {
    padding-top: 18%;
    padding-bottom: 21%;
    color: #FFF;
    font-size: 12em;
    font-weight: 100;
    letter-spacing: 9px;
  }

  .comments_box{

    margin-top: 0px;
    padding: 0px;
    color:white;
    background-color: #FCBE1F;
    h1{font-size: 2em;padding: 0;color: #282828; margin-top:30px;  }
    .col-md-8 {
      padding: 0;
      margin: 0;

      .video_meta {

        list-style: none;
        padding: 0;
        margin: 0;
        color: white;
        font-size: 1.12em;
        margin-bottom: 15px;
      }
      .video_meta li {
        display: inline;  padding-top: 100px;

        padding-right: 60px;
      }
      .text_wrapper{color:white;margin-top: 4.5%;margin-bottom: 4.5%; p{letter-spacing: 3px;}}

    }

  .col-md-3{
    padding: 0; right: 0;
    .video_meta_side{
      list-style: none;
      padding: 0;
      margin: 0;
      color: white;
      font-size: 1.5em;
      margin-bottom: 15px;
    }
    .video_meta_side li {
      display: inline;  padding-top: 100px;

      padding-left: 12px;
      padding-right: 12px;
    }
    button{width:100%;border-radius: 0;margin-top: 10px;}
  }

    .divider{
    height: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    }
    .comments_area{padding: 0; margin: 0;
      h1{margin-bottom: 30px;}
      .indi_comment{

        display: flex;

        .comment_image{
          background-color: white;
          color: #1e1a1b;
          padding: 40px;
          border-top: 1px solid #CCC;

          img{
            margin-right: 30px; margin-top: 13px;
          }
          .text_wrapper{width: auto;display: inline-table}

        }
        .comment_meta_d{
         margin: 0;padding: 0;
          padding-left: 10px;
          div{background-color: white;border-radius: 3px;}
          .date{padding-top: 22px;padding-bottom: 22px; color: #1e1a1b;text-align: center; font-size: 1.39em;margin-bottom: 5px;  }
          .quote{background-color: #2E2F30;text-align: center;padding-top: 20px;padding-bottom: 20px;font-size: 0.8em}
        }
        .comment_content{
          padding: 0; margin: 0;
          .tittle{padding-left: 20px; margin: 0; font-size: 2em; letter-spacing: 2px; h3{margin: 0}}
          .content{padding-left: 20px; margin: 0; font-size: 1.8em; letter-spacing: 2px; margin-top:20px; }
        }
      }
    }
    .pagignation{padding: 0;margin: 0; margin-top:40px;margin-bottom: 40px; display: flex; .page_button{padding: 20px; margin-right: 10px; background-color: white; color: #1e1a1b; width: auto} }
  }

.comments_send{
  margin: 0;padding: 0;
  h1{margin-bottom: 30px;}
  .col-sm-6{padding: 0;}
  .col-sm-12{padding: 0;}

  form{padding: 0; margin: 0;
    textarea{height: 160px; border-radius: 0}
    input{border-radius: 0}
  .control-label{text-align: left;}
  }
  .send-btn{margin-bottom: 30px;border-radius: 0}
}

}
